body{
    padding: 0;
    margin: 0;
}

.flexContainer {
    display: flex;
}

.halfContainer {
    width: 50%;
    border-bottom: 1px solid black;
}

.halfContainer_custom {
    flex-direction: column;
    justify-content: space-between;
}